<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="js/jquery-3.2.1.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/main.css" />
    <script src="js/main.js"></script>
  </head>
  <body>
    <div id="awesome_tabs">
      <div class="tab_header">
        <div class="item active" data-option="1">option 1</div>
        <div class="item" data-option="2">option 2</div>
        <div class="item" data-option="3">option 3</div>
      </div>
      <div class="tab_container">
        <!-- container item was display:none on css -->
        <div class="container_item active" data-item="1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad facilis
          tempore aliquid accusantium corporis. Sequi, accusamus tempora facere
          hic totam vel fuga neque expedita consequuntur corporis commodi unde?
          Assumenda, atque!
        </div>
        <div class="container_item" data-item="2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae
          quis eius illum sed porro possimus, iusto perferendis magnam nisi
          esse. Rerum eligendi voluptas repellendus voluptates deleniti, ab
          placeat similique nisi?
        </div>
        <div class="container_item" data-item="3">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
          quas provident, et saepe quaerat nulla est, aut ullam harum sit
          blanditiis velit, soluta architecto laboriosam? Illo rem et id
          voluptatibus?
        </div>
      </div>
    </div>
  </body>
</html>
